.nft-card {
    background-color: hsl(216, 50%, 16%);
    min-width: 300px;
    width: 20vw;
    min-height: 500px;
    max-width: 400px;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    overflow: hidden;
}


.nft-card-details {
    width: 100%;
}

.nft-card-details>* {
    margin-bottom: 15px;
}

.nft-card a {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
}

.nft-card-description {
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 20px;
}

.nft-subdetails {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.nft-card-description {
    color: hsl(215, 51%, 70%);
}

.nft-subdetails div {
    display: flex;
    align-items: center;
}

.nft-subdetails div svg {
    margin-right: 10px;
}

.nft-posted {
    color: hsl(215, 51%, 70%);
}

.nft-value {
    color: hsl(178, 100%, 50%);
}

.linebreak {
    border-color: hsla(215, 52%, 70%, 0.555);
}

.nft-card-author {
    display: flex;
    align-items: center;
    color: hsl(215, 51%, 70%);
}

.nft-card-author img {
    width: 40px;
    height: 40px;
    border: solid 2px hsl(215, 51%, 70%);
    border-radius: 50%;
    margin-right: 15px;
}

.author-link span {
    color: inherit;
    color: white;
}

.author-link span:hover {
    color: hsl(178, 100%, 50%);
}

.nft-image-container {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 25px;
    box-sizing: border-box;
}

.nft-image-hover {
    visibility: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    cursor: pointer;
    background-color: hsla(178, 100%, 50%, 0.5);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.nft-image-container:hover .nft-image-hover {
    visibility: visible;
}

.nft-card-logo {
    width: 100%;
    height: 100%;
}

.nft-card-details h2 a:hover {
    color: hsl(178, 100%, 50%);
}

@media screen and (max-width : 375px) {
    .nft-card {
        width: 80vw;
        min-width: 150px;
    }

}